.box{
    background-color: black;
    font-size: 500%;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}
.box a{
    text-decoration: none;
    color: pink;
}
.box a:hover{
    color: white;
}
html{
    background-color: black;
}