html{
    background-color: black;
}
body h1{
    padding-top: 19%;
    font-size: 350%;
    color: pink;
    text-align: center;
}
body p{
    padding-top: 3%;
    text-align: center;
}
body p a{
    text-decoration: none;
    color: pink;
}
body p a:hover{
    color: white;
}